
<div class="libro">
  <div class="libro__imagen">
    <% if libro.persisted? && libro.portada.attached? %>
      <%= image_tag libro.portada.variant(resize_to_limit: [300, 400]), alt: "Portada de #{libro.nombre}" %>
    <% end %>
  </div>
  <div class="libro__info">
    <h1 class="libro__nombre"><%= libro.nombre %></h1>
    <p class="libro__fecha"><%= libro.fecha_publicacion %></p>
    <h2 class="libro__autor"><%= libro.autor %></h2>
    <div class="libro__descripcion"><%= libro.descripcion %></div>
    <p class="libro__cantidad"><%= libro.cantidad %> Unidades</p>
    <% if show_link %>
      <div><%= link_to 'Ver mas', libro_path(libro.id), class:"libro__enlace" %></div>
    <% end %>
  </div>
</div>