<%= form_with model: libro do |form| %>
  <div>
    <%= form.label :nombre %>
    <%= form.text_field :nombre, placeholder: "Nombre", required: Libro.validators_on(:nombre).any? %>
  </div>
  <% if form.object.errors[:nombre].any? %>
    <p><%= form.object.errors[:nombre].first %></p>
  <% end %>

  <div>
    <%= form.label :autor %>
    <%= form.text_field :autor, placeholder: "Autor", required: Libro.validators_on(:autor).any? %>
  </div>
  <% if form.object.errors[:autor].any? %>
    <p><%= form.object.errors[:autor].first %></p>
  <% end %>

  <div>
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, rows: 4, required: Libro.validators_on(:descripcion).any? %>
  </div>
  <% if form.object.errors[:descripcion].any? %>
    <p><%= form.object.errors[:descripcion].first %></p>
  <% end %>

  <div>
    <%= form.label :cantidad %>
    <%= form.number_field :cantidad, required: Libro.validators_on(:cantidad).any? %>
  </div>
  <% if form.object.errors[:cantidad].any? %>
    <p><%= form.object.errors[:cantidad].first %></p>
  <% end %>

  <div>
    <%= form.label :fecha_publicacion %>
    <%= form.date_field :fecha_publicacion, required: Libro.validators_on(:fecha_publicacion).any? %>
  </div>
  <% if form.object.errors[:fecha_publicacion].any? %>
    <p><%= form.object.errors[:fecha_publicacion].first %></p>
  <% end %>

  <div>
    <%= form.label :portada, style: "display: block" %>
    <%= form.file_field :portada, accept: "image/*" %>
  </div>
  <% if libro.portada.attached? %>
    <div>
      <%= image_tag libro.portada %>
    </div>
  <% end %>

  <div>
    <%= form.submit(libro.new_record? ? "Agregar libro" : "Guardar cambios") %>
  </div>
<% end %>